.pdf .pdf-container {
  width: 794px;
  height: 1123px;
  margin: 50px auto;
  border: 1px solid black;
  background-color: #fff;
  overflow: hidden;
}
.pdf .pdf-container hr {
  height: 1px;
  width: 100%;
  background-color: #000;
  border: none;
}
.pdf .pdf-container .pdf-container-top {
  display: flex;
  padding: 5px;
  text-transform: uppercase;
  justify-content: space-between;
}
.pdf .pdf-container .pdf-container-top p {
  flex: 1;
}
.pdf .pdf-container .pdf-container-top p {
  font-weight: bold;
  text-align: end;
  font-size: 14px;
}
.pdf .pdf-container .pdf-container-top p:nth-child(2) {
  text-align: center;
  color: #2671fe;
}
.pdf .pdf-container .pdf-container-company {
  display: flex;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left {
  flex: 1;
  border-right: 1px solid #000;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top {
  display: flex;
  border-bottom: 1px solid #000;
  align-items: center;
  padding: 5px 0px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-left {
  flex: 3;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-left img {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-right {
  flex: 7;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-right p {
  line-height: 1;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-right p .comp-name {
  font-size: 16px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-right p span {
  font-size: 12px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-top .pdf-container-company-left-top-right p span:first-child {
  font-weight: bold;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-bottom {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-bottom span {
  font-size: 12px;
  font-weight: bold;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-left .pdf-container-company-left-bottom span:first-child {
  color: #606060;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right {
  flex: 1;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-top {
  display: flex;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-top span {
  font-weight: bold;
  font-size: 14px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-top span:first-child {
  font-size: 12px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-top .pdf-container-company-right-top-left {
  flex: 1;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-top .pdf-container-company-right-top-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-bottom {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-bottom span {
  font-weight: bold;
  font-size: 14px;
}
.pdf .pdf-container .pdf-container-company .pdf-container-company-right .pdf-container-company-right-bottom span:first-child {
  font-size: 12px;
}
.pdf .pdf-container .pdf-item {
  height: 200px;
}
.pdf .pdf-container .pdf-item .pdf-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.pdf .pdf-container .pdf-item .pdf-table th,
.pdf .pdf-container .pdf-item .pdf-table td {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  padding: 8px;
  font-size: 12px;
}
.pdf .pdf-container .pdf-item .pdf-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item {
  border-bottom: 1px solid #000;
  padding: 2px;
  display: flex;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.disc {
  justify-content: flex-end;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.disc p {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: end;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.disc p:first-child {
  flex: 4;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.disc p:last-child {
  flex: 1;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.total p {
  font-size: 20px;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.words p {
  font-size: 14px;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.paid {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.paid p {
  font-weight: bold;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item.paid .check,
.pdf .pdf-container .pdf-qty .pdf-qty-item.paid .cross {
  width: 15px;
  height: 15px;
}
.pdf .pdf-container .pdf-qty .pdf-qty-item:first-child p {
  color: #606060;
  font-size: 14px;
  padding: 5px;
}
.pdf .pdf-container .pdf-details {
  height: 200px;
  border-bottom: 1px solid #000;
  display: flex;
}
.pdf .pdf-container .pdf-details .pdf-details-left {
  flex: 7;
  border-right: 1px solid #000;
  padding: 5px;
}
.pdf .pdf-container .pdf-details .pdf-details-left .pdf-details-left-left {
  font-size: 14px;
}
.pdf .pdf-container .pdf-details .pdf-details-left .pdf-details-left-left .bank-detail {
  font-weight: bold;
  color: #606060;
}
.pdf .pdf-container .pdf-details .pdf-details-left .pdf-details-left-left .pdf-details-left-left-item p {
  display: flex;
  font-weight: normal;
}
.pdf .pdf-container .pdf-details .pdf-details-left .pdf-details-left-left .pdf-details-left-left-item p span:first-child {
  flex: 1;
  font-weight: normal;
}
.pdf .pdf-container .pdf-details .pdf-details-left .pdf-details-left-left .pdf-details-left-left-item p span:last-child {
  flex: 3;
  font-weight: bold;
}
.pdf .pdf-container .pdf-details .pdf-details-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.pdf .pdf-container .pdf-details .pdf-details-right p {
  font-size: 10px;
}
.pdf .pdf-container .pdf-details .pdf-details-right img {
  width: 100%;
}
.pdf .pdf-container .pdf-notes {
  height: 100%;
  display: flex;
}
.pdf .pdf-container .pdf-notes p {
  font-size: 14px;
  color: #606060;
  font-weight: bold;
}
.pdf .pdf-container .pdf-notes textarea {
  width: 100%;
}
.pdf .pdf-container .pdf-notes .pdf-notes-left {
  flex: 4;
  border-right: 1px solid #000;
  padding: 5px;
}
.pdf .pdf-container .pdf-notes .pdf-notes-right {
  flex: 6;
  padding: 5px;
}/*# sourceMappingURL=PDF.css.map */