@use "../../../styles/responsive.scss" as *;

.invoice {
  .invoice-top {
    display: flex;
    justify-content: space-between;
    .primary-btn {
      gap: 5px;
    }
  }

  .invoice-content{
    margin-top: 20px;
    .invoice-content-items{
      display: flex;
      gap: 30px;
      span{
        font-weight: bold;
        color: $secondary-color;
        transition: all .3s ease-in-out;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        border-radius: 1px;
        padding-bottom: 3px;

        &.active-filter{
          color: $primary-color;
          border-bottom: 2px solid $primary-color;
        }

        &:hover{
          color: $primary-color;
        }
      }

    }

    .invoice-content-inputs{
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 30px;
      .invoice-content-inputs-search{
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        .search-icon {
          color: $primary-color;
          width: 20px;
          margin-left: 10px;
        }

        input {
          border: none;
          background: transparent;
          padding: 10px;
          font-size: 16px;
          outline: none;
          width: 100%;
          height: 100%;
        }

        
      }

      .invoice-content-inputs-week{
        button{
       background: #E8E8ED;
       color: #000;
       display: flex;
       gap: 5px;
        }
      }
    }
  }

}


//////////////////////////  

.table {
  width: 100%;
  background: white;
  border-radius: 5px;
  overflow-x: auto;
  margin-top: 30px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th {
      color: $secondary-color;
      padding: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    td {
      padding: 12px;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    tr:hover {
      background: rgba(0, 70, 253, 0.1);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;

  .page {
    margin: 0px 20px;
  }

  button {
    background: #0046fd;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;

    &:disabled {
      background: #aaa;
      cursor: not-allowed;
    }
  }
}

.status {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;

  &.active {
    background: #d4edda;
    color: #155724;
  }

  &.inactive {
    background: #f8d7da;
    color: #721c24;
  }

  &.pending {
    background: #fff3cd;
    color: #856404;
  }
}
