.report {
  padding: 10px;
}
.report .report-top .report-top-left {
  display: flex;
  align-items: center;
}
.report .report-top .report-top-left h3 {
  font-size: 20px;
  cursor: pointer;
}
.report .report-content {
  display: flex;
  background: #fff;
  margin-top: 20px;
  border-radius: 5px;
}
.report .report-content .report-content-sidebar {
  width: 250px;
  padding: 1rem;
  border-right: 1px solid #ddd;
  height: 100vh;
  overflow-y: auto;
}
.report .report-content .report-content-sidebar .sidebar-group {
  margin-bottom: 10px;
}
.report .report-content .report-content-sidebar .sidebar-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  padding: 5px;
  transition: all 0.2s;
}
.report .report-content .report-content-sidebar .sidebar-item:hover {
  color: #2671fe;
}
.report .report-content .report-content-sidebar .sidebar-subitems {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
}
.report .report-content .report-content-sidebar .sidebar-subitems p {
  cursor: pointer;
  color: #606060;
  padding: 4px 0;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.report .report-content .report-content-sidebar .sidebar-subitems p:hover {
  color: #000;
}
.report .report-content .report-content-sidebar .sidebar-subitems.open {
  max-height: 500px;
  padding-top: 0.5rem;
}
.report .report-content .report-content-right {
  flex-grow: 1;
}
.report .report-content .report-content-right .report-table {
  width: 100%;
  background: white;
  border-radius: 5px;
  overflow-x: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.report .report-content .report-content-right .report-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.report .report-content .report-content-right .report-table table th {
  color: #606060;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
}
.report .report-content .report-content-right .report-table table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.report .report-content .report-content-right .report-table table tr:hover {
  background: rgba(0, 70, 253, 0.1);
}
.report .report-content .report-content-right .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}
.report .report-content .report-content-right .pagination .page {
  margin: 0px 20px;
}
.report .report-content .report-content-right .pagination button {
  background: #0046fd;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.report .report-content .report-content-right .pagination button:disabled {
  background: #aaa;
  cursor: not-allowed;
}
.report .report-content .report-content-right .status {
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
}
.report .report-content .report-content-right .status.active {
  background: #d4edda;
  color: #155724;
}
.report .report-content .report-content-right .status.inactive {
  background: #f8d7da;
  color: #721c24;
}
.report .report-content .report-content-right .status.pending {
  background: #fff3cd;
  color: #856404;
}/*# sourceMappingURL=Report.css.map */