.smpdf .smpdf-container {
  width: 794px;
  height: 1123px;
  margin: 50px auto;
  border: 1px solid black;
  background-color: #fff;
  overflow: hidden;
  padding: 30px;
}
.smpdf .smpdf-container hr {
  background: #2671fe;
  height: 1px;
  border: none;
}
.smpdf .smpdf-container .smpdf-top {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
.smpdf .smpdf-container .smpdf-top p:first-child {
  font-weight: bold;
  color: #2671fe;
}
.smpdf .smpdf-container .smpdf-top p:last-child {
  font-size: 14px;
}
.smpdf .smpdf-container .smpdf-details {
  margin: 15px 0px;
}
.smpdf .smpdf-container .smpdf-details h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.smpdf .smpdf-container .smpdf-details .comp-detail {
  display: flex;
  margin-top: 10px;
  gap: 50px;
  align-items: center;
}
.smpdf .smpdf-container .smpdf-details .comp-detail p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.smpdf .smpdf-container .smpdf-details .comp-detail p span:last-child {
  font-weight: bold;
}
.smpdf .smpdf-container .smpdf-details .comp-date {
  display: flex;
  gap: 50px;
  margin: 15px 0px;
  align-items: center;
}
.smpdf .smpdf-container .smpdf-details .comp-date p {
  display: flex;
  gap: 10px;
  align-items: center;
}
.smpdf .smpdf-container .smpdf-details .comp-date p span:first-child {
  font-size: 14px;
  color: #606060;
  font-weight: 500;
}
.smpdf .smpdf-container .smpdf-details .comp-date p span:last-child {
  font-weight: bold;
}
.smpdf .smpdf-container .smpdf-details .comp-user p {
  font-weight: bold;
}
.smpdf .smpdf-container .smpdf-details .comp-user p:first-child {
  font-size: 14px;
  color: #606060;
  font-weight: bold;
}
.smpdf .smpdf-container .smpdf-details .comp-table {
  margin-top: 30px;
}
.smpdf .smpdf-container .smpdf-details .comp-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.smpdf .smpdf-container .smpdf-details .comp-table table th,
.smpdf .smpdf-container .smpdf-details .comp-table table td {
  border: 1px solid #2671fe;
  border-left: none;
  border-right: none;
  padding: 8px;
  font-size: 12px;
}
.smpdf .smpdf-container .smpdf-details .comp-table table th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-transform: uppercase;
}
.smpdf .smpdf-container .smpdf-details .comp-total {
  margin-top: 5px;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item {
  display: flex;
  justify-content: end;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item p {
  text-align: end;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item p:first-child {
  flex: 5;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item p:last-child {
  flex: 1;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item:first-child {
  font-weight: bold;
  font-size: 20px;
}
.smpdf .smpdf-container .smpdf-details .comp-total .comp-total-item:last-child {
  font-size: 14px;
}
.smpdf .smpdf-container .smpdf-details .comp-word {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #606060;
  margin-top: 5px;
}
.smpdf .smpdf-container .smpdf-details .comp-sig {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
}
.smpdf .smpdf-container .smpdf-details .comp-sig img {
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 5px 0px;
}
.smpdf .smpdf-container .smpdf-details .comp-sig p {
  font-size: 12px;
}/*# sourceMappingURL=SmPDF.css.map */