.newInvoice {
  padding: 10px;
  position: relative;
}
.newInvoice .newInvoice-top {
  display: flex;
  justify-content: space-between;
}
.newInvoice .newInvoice-top .newInvoice-top-left {
  display: flex;
  align-items: center;
}
.newInvoice .newInvoice-top .newInvoice-top-left h3 {
  font-size: 20px;
  cursor: pointer;
}
.newInvoice .newInvoice-top .newInvoice-top-right {
  display: flex;
  gap: 10px;
}
.newInvoice .newInvoice-top .newInvoice-top-right button {
  height: 100%;
  font-weight: bold;
}
.newInvoice .newInvoice-top .newInvoice-top-right button:last-child {
  gap: 5px;
}
.newInvoice .newInvoice-top .newInvoice-top-right button:first-child {
  background: #e8e8ed;
  color: #000;
}
.newInvoice .newInvoice-customer {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left {
  flex: 3;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .newInvoice-customer-left-top {
  display: flex;
  gap: 20px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .newInvoice-customer-left-top span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #606060;
  font-weight: bold;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .newInvoice-customer-left-top span .plus-icon {
  width: 20px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .newInvoice-customer-left-top span:last-child {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .newInvoice-customer-left-top span:last-child:hover {
  color: #2671fe;
  border-bottom: 1px solid #000;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail {
  background: #e6f2ff;
  padding: 10px;
  margin-top: 10px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail span {
  color: #606060;
  font-weight: 500;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: #fff;
  position: relative;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search .search-icon {
  color: #2671fe;
  width: 20px;
  margin-left: 10px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search input {
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 100%;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search .no-cust {
  position: absolute;
  top: 44px;
  background: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search .search-results {
  position: absolute;
  top: 44px;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  z-index: 200;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search .search-results .search-result-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.newInvoice .newInvoice-customer .newInvoice-customer-left .customer-detail .customer-detail-search .search-results .search-result-item:hover {
  background-color: #f1f1f1;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right {
  flex: 7;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-top {
  display: flex;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-top span {
  color: #606060;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-items {
  display: flex;
  align-items: start;
  margin-top: 10px;
  background: #f8f8f8;
  gap: 10px;
  padding: 10px;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-items .newInvoice-customer-right-item:nth-child(3) {
  flex: 1;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-items .newInvoice-customer-right-item {
  display: flex;
  flex-direction: column;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-items .newInvoice-customer-right-item span {
  color: #606060;
  font-weight: 500;
}
.newInvoice .newInvoice-customer .newInvoice-customer-right .newInvoice-customer-right-items .newInvoice-customer-right-item input {
  border: 1px solid rgba(221, 221, 221, 0.8666666667);
  background: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
}
.newInvoice .customer-name {
  margin-top: 20px;
}
.newInvoice .customer-name p {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fdf0e6;
  border: 1px solid #ddd;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.newInvoice .customer-name p .cross-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newInvoice .customer-name p .cross-icon:hover {
  color: #ff0000;
}
.newInvoice .newInvoice-product {
  margin-top: 40px;
}
.newInvoice .newInvoice-product .newInvoice-product-top {
  display: flex;
  gap: 20px;
}
.newInvoice .newInvoice-product .newInvoice-product-top span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #606060;
  font-weight: bold;
}
.newInvoice .newInvoice-product .newInvoice-product-top span .plus-icon {
  width: 20px;
}
.newInvoice .newInvoice-product .newInvoice-product-top span:last-child {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.newInvoice .newInvoice-product .newInvoice-product-top span:last-child:hover {
  color: #2671fe;
  border-bottom: 1px solid #000;
}
.newInvoice .newInvoice-product .newInvoice-product-content {
  background: #e6f2ff;
  margin-top: 10px;
  padding: 10px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item {
  display: flex;
  align-items: center;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item button {
  display: flex;
  gap: 5px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item button .plus-icon {
  width: 18px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item .search-icon {
  color: #2671fe;
  width: 20px;
  margin-left: 10px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input {
  border: 1px solid #ddd;
  width: 40%;
  position: relative;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input input {
  border: none;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input .no-cust {
  position: absolute;
  top: 44px;
  background: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 200;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input .search-results {
  position: absolute;
  top: 44px;
  background: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  z-index: 200;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input .search-results .search-result-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item.search-input .search-results .search-result-item:hover {
  background-color: #f1f1f1;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-product-content-top .newInvoice-product-content-top-item input {
  border: 1px solid #ddd;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 100%;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table {
  margin-top: 20px;
  background: #fff;
  position: relative;
  min-height: 400px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table th {
  padding: 15px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table td {
  padding: 15px;
  font-size: 14px;
  color: #555;
  vertical-align: middle;
  text-align: center;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table .product-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: auto;
  text-align: center;
  position: relative;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table .product-item p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table .product-item .trash-icon {
  stroke-width: 3;
  width: 15px;
  position: absolute;
  left: 10px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table input {
  width: 80px;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  margin: auto;
  width: 50%;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table .trash-icon {
  color: #e74c3c;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table table .trash-icon:hover {
  transform: scale(1.2);
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add {
  height: 400px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add .newInvoice-products-table-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add .newInvoice-products-table-add .table-icon {
  width: 50px;
  height: 50px;
  stroke: #2671fe;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add .newInvoice-products-table-add p {
  color: #606060;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add .newInvoice-products-table-add button {
  gap: 5px;
  margin-top: 10px;
}
.newInvoice .newInvoice-product .newInvoice-product-content .newInvoice-products-table .table-add .newInvoice-products-table-add button .plus-icon {
  width: 20px;
}
.newInvoice .newInvoice-product .product-summary {
  margin-top: 30px;
  display: flex;
  padding: 10px 30px;
  gap: 30px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left {
  flex: 4;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left span {
  font-weight: bold;
  font-size: 14px;
  color: #606060;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left .product-summary-left-item {
  margin-top: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left .product-summary-left-item p {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left .product-summary-left-item p .right-icon {
  width: 20px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-left .product-summary-left-item textarea {
  width: 100%;
  margin-top: 10px;
  height: 100px;
  background: #fff;
  border: 1px solid rgba(221, 221, 221, 0.8666666667);
  font-size: 16px;
  padding: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right {
  flex: 6;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount {
  display: flex;
  justify-content: space-between;
  text-align: end;
  background: #e6f2ff;
  padding: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount span {
  font-weight: bold;
  color: #606060;
  margin-bottom: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount .total-amount .total-amount-top {
  display: flex;
  flex-direction: column;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount .total-amount .total-amount-top input {
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px;
  font-size: 16px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount .total-amount .total-amount-money {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount .total-amount .total-amount-money .total-amount-money-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-amount .total-amount .total-amount-money .total-amount-money-item.big-amount span {
  color: #000;
  font-size: 20px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-bank {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-bank span {
  font-weight: bold;
  color: #606060;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-bank button {
  padding: 15px 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #2671fe;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid {
  margin-top: 30px;
  background: #e6f2ff;
  padding: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-top {
  display: flex;
  justify-content: space-between;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-top span {
  font-weight: bold;
  color: #606060;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-top .fully-paid {
  display: flex;
  align-items: center;
  gap: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-top .fully-paid input {
  border: 1px solid #ddd;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-items {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-items .product-summary-paid-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-items .product-summary-paid-item input {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 16px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-paid .product-summary-paid-items .product-summary-paid-item select {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 16px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-sig {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-sig span {
  font-weight: bold;
  color: #606060;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-sig button {
  padding: 15px 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #2671fe;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-btn button:first-child {
  background: #e8e8ed;
  color: #000;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-btn button:last-child {
  gap: 5px;
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-btn button:last-child:hover .right-arrow {
  transform: translateX(5px);
}
.newInvoice .newInvoice-product .product-summary .product-summary-right .product-summary-btn button:last-child .right-arrow {
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.delete-card {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-card .delete-card-desc {
  background: #fff;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.delete-card .delete-card-desc p {
  font-size: 25px;
  color: #333;
  font-weight: 600;
}
.delete-card .delete-card-desc .delete-card-btn {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}/*# sourceMappingURL=NewInvoice.css.map */